/*---------------------
layout/contanier
----------------------*/

%container {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

.l-container {
  max-width: 1080px;
  @extend %container;
}

.l-container-S {
  max-width: 900px;
  @extend %container;
}

.l-container-L {
  max-width: 1200px;
  @extend %container;
}
